html {
	background-color: var(--bg-color);
	color: var(--black-color);
	font-family: var(--primary-text);
	font-size: 15px;
	scroll-behavior: smooth;
}


.page-wrapper {
	min-height: 100vh;
	display: flex;
	background-position: top center;
	background-size: max(999px, 100%);
}


.container-1440 {
	width: 100%;
	max-width: 1440px;
	padding-left: 130px;
	padding-right: 130px;
	margin-inline: auto;

	@media (max-width: var(--laptopL)) {
		padding-left: 20px;
		padding-right: 20px;
	}
}

.row {
	display: flex;
}
.col {
	flex-grow: 1;
}

.mb-5 {
	margin-bottom: 5px;
}
.mb-10 {
	margin-bottom: 10px;
}
.mb-15 {
	margin-bottom: 15px;
}
.mb-20 {
	margin-bottom: 20px;
}
.mb-30 {
	margin-bottom: 30px;
}
.mb-40 {
	margin-bottom: 40px;

	@media (max-width: var(--laptopS)) {
		margin-bottom: 24px;
	}
}

.mt-10 {
	margin-top: 10px;
}
.mt-20 {
	margin-top: 20px;
}
.mt-30 {
	margin-top: 30px;
}
.mt-40 {
	margin-top: 40px;
}

.justify-center {
	justify-content: center;
}
.justify-between {
	justify-content: space-between;
}
.align-center {
	align-items: center;
}

.header-modal-open {
	@media (max-width: 1200px) {
		overflow: hidden;
	}
}

.page-layout {
	&_default {
		max-width: 700px;

		.headline-5 {
			margin-block: 50px 20px;
		}

		img {
			width: 100%;
			margin-block: 30px;
			border-radius: 30px;
		}

		p {
			margin-bottom: 20px;
		}

		ul {
			list-style: disc;
			padding-left: 30px;
		}
		li {
			margin-bottom: 8px;
		}
		li::marker {
			font-size: 18px;
			color: var(--black-color);
		}

		strong {
			color: var(--black-color);
		}
	}
}
