.title_size_40 {
	font-size: 40px;

	@media (max-width: 425px) {
		font-size: 25px;
	}
}

.title_size_25 {
	font-size: 25px;
}

.title_size_16 {
	font-size: 16px;
}

.title_size_12 {
	font-size: 12px;
}

.text-gray {
	color: var(--neutrals4);
}

.font-500 {
	font-weight: 500;
}