.g-table{
  display: flex;
  flex-direction: column;
  gap: 8px;
  overflow-x: auto;
  margin-right: -16px;
  margin-left: -16px;
  box-sizing: border-box;
  padding: 0 16px 8px;
  &::-webkit-scrollbar{
    box-sizing: border-box;
    height: 6px;
  }
  &::-webkit-scrollbar-thumb{
    width: 4px;
    background-color: $OnLightEggplant;
    border-radius: 8px;
  }
  @media (max-width: var(--laptopS)) {
    max-width: 560px;
    margin: 0 auto;
    padding: 0;
  }

  &__head{
    box-sizing: border-box;
    border-radius: 32px;
    background-color: $DarkLightOrange-2;
    padding: 6px 16px;
    width: 1372px;
    min-width: 1372px;
    @media (max-width: var(--laptopS)) {
      display: none;
    }
  }
  &__body{
    box-sizing: border-box;
    width: 1372px;
    min-width: 1372px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    @media (max-width: var(--laptopS)) {
      width: 100%;
      min-width: 100%;
      gap: 16px;
    }
  }
  &__line{
    box-sizing: border-box;
    border-radius: 32px;
    background-color: $Surface;
    padding: 16px;
    width: 100%;
  }
  &__tr{
    display: flex;
    min-width: 1340px;
    @media (max-width: var(--laptopS)) {
      min-width: 100%;
      flex-wrap: wrap;
    }
  }
  &__td{
    display: inline-flex;
    flex-wrap: wrap;
    gap: 8px;
    align-items: center;
    position: relative;
    min-height: 30px;
    box-sizing: border-box;
    padding: 0 16px;
    &:after{
      content: '';
      display: inline-block;
      width: 1px;
      height: 30px;
      background-color: $BrandOrange;
      position: absolute;
      right: 0;
      top: calc(50% - 15px);
    }
    &:first-child{
      justify-content: center;
      text-align: center;
      padding: 0;
      &:after{
        display: none;
      }
    }
    &:last-child{
      justify-content: center;
      text-align: center;
      padding-right: 0;
      @media (max-width: var(--laptopS)) {
        text-align: right;
        justify-content: space-between;
      }
      &:after{
        display: none;
      }
    }

    &--80{
      width: 80px;
    }
    &--184{
      width: 184px;
    }
    &--142{
      width: 142px;
    }
    &--154{
      width: 154px;
    }
    &--129{
      width: 129px;
    }
    &--277{
      width: 277px;
    }
    &--148{
      width: 148px;
    }
    &--150{
      width: 150px;
    }

    &.active{
      color: $Eggplant;
    }
    @media (max-width: var(--laptopS)) {
      min-width: 100%;
      padding: 12px 0;
      gap: 12px;
      justify-content: space-between;
      &:after{
        width: 100%;
        height: 1px;
        left: 0;
        top: auto;
        bottom: 0;
        justify-content: space-between;
      }

      &--img{
        min-width: 0;
        width: 80px;
        margin-right: 16px;
      }
      &--title{
        min-width: 0;
        flex: 1;
        font-size: 36px;
        &:after{
          display: none;
        }
      }
    }

    &-title{
      display: none;
      @media (max-width: var(--laptopS)) {
        display: inline-block;
      }
    }
    &-data{
      display: inline-flex;
      flex-wrap: wrap;
      gap: 8px;
      align-items: center;
    }
  }
  &__th{
    flex-wrap: nowrap;
  }

  &-sort{
    position: relative;
    cursor: pointer;
    width: 16px;
    min-width: 16px;
    height: 16px;
    fill: $Primary;
    &__icon{
      display: inline-block;
      position: absolute;
      left: 0;
      top: 0;
      width: 16px;
      min-width: 16px;
      height: 16px;
      &.active{
        fill: $Eggplant;
      }
    }
  }

  &-img{
    width: 80px;
    height: 53px;
    border-radius: 8px;
    overflow: hidden;
  }
  &-badge{
    display: inline-block;
    text-align: center;
    padding: 4px 8px;
    border-radius: 4px;
    background: $AdditionalSurface;
  }
  &-load{
    width: 55px;
    height: 32px;
    fill: $LightEggplant;


    &:hover, &:active, &:focus{
      fill: $HoverEggplant;
    }
  }

}